$palegold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$charcoal: #373737;

body {
  font-family: Courier New;
  margin: 0;
  padding: 0;
  background: $paper;

  a {
    text-decoration: none;
  }

  .center {
    display:flex;
    justify-content:center;
    align-items:center;
  }

  label {
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
    }
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

}
