body {
  font-family: Courier New;
  margin: 0;
  padding: 0;
  background: #F4F4F4;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

}
